main {
  background-color: #1e1e1e;
  color: #cecece;
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  grid-gap: 10px;
}

button {
  width: 100px;
  height: 30px;
  justify-self: center;
}

.text-center {
  text-align: center;
}

.container {
  display: grid;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 3px;
}

.container > * {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  font-size: 3em;
}
